<!-- file: src/app/module/shared/onboarding/forgot-password/template.html -->
<div class="tw:flex tw:min-h-[75dvh] tw:md:min-h-[80dvh] tw:items-center tw:justify-center">
    <div class="tw:w-full tw:max-w-110">
        <mat-card class="tw:bg-transparent! tw:md:bfw-bg-gradient-b tw:mb-6 tw:rounded-4xl! tw:overflow-hidden tw:shadow-none! tw:md:shadow-sm!">
            <mat-card-header class="tw:flex-col! tw:items-stretch!">
                <div class="tw:p-2 tw:w-100 tw:text-center tw:lg:text-start">
                    <!-- ██████████ HEADING AREA ██████████████████████████████████████ -->
                    @defer (on idle) {
                        <h1 class="tw:mb-1 tw:text-4xl tw:font-normal! tw:tracking-tight tw:text-primary">
                            {{ 'ONBOARDING_FORGOTPASSWORD.MODULE.TITLE' | transloco }}
                        </h1>
                        <small>{{ 'ONBOARDING_FORGOTPASSWORD.MODULE.HINT' | transloco }}</small>
                    } @placeholder (minimum 200ms) {
                        <div class="tw:animate-pulse">
                            <div class="tw:h-10 tw:w-3/4 tw:bg-gray-200 tw:rounded-lg tw:mb-2 tw:mx-auto tw:lg:mx-0"></div>
                            <div class="tw:h-4 tw:w-1/2 tw:bg-gray-100 tw:rounded-lg tw:mx-auto tw:lg:mx-0"></div>
                        </div>
                    }
                </div>
                <div>
                    <app-notify-banner></app-notify-banner>
                </div>
            </mat-card-header>
            <mat-card-content class="tw:p-6!">
                <form (submit)="$event.preventDefault(); service.onSubmit()" class="tw:space-y-3" novalidate>
                    <!-- ─── FIELD: un_pe_pm ─────────────────────────────────────────────────────── -->
                    @let fo_un_pe_pm = service.state.mutationFieldObj().un_pe_pm;
                    @let fs_un_pe_pm = service.state.mutationForm.un_pe_pm();
                    @let ph_un_pe_pm = fo_un_pe_pm.placeholder | transloco;

                    <mat-form-field appearance="outline" class="tw:w-full">
                        <mat-label>{{ fo_un_pe_pm.label | transloco }}</mat-label>
                        <input
                            matInput
                            type="text"
                            autocomplete="username"
                            [placeholder]="ph_un_pe_pm === fo_un_pe_pm.placeholder ? '' : ph_un_pe_pm"
                            [formField]="service.state.mutationForm.un_pe_pm"
                            (input)="service.state.clearMutationFormError()"
                            (keydown.enter)="$event.preventDefault(); service.onSubmit()"
                            autofocus
                        />
                        <mat-icon matSuffix class="material-symbols-rounded">person_shield</mat-icon>
                        @if ((fs_un_pe_pm.touched() || fs_un_pe_pm.dirty()) && fs_un_pe_pm.invalid()) {
                            <mat-error class="tw:flex! tw:items-start tw:gap-1">
                                <mat-icon class="material-symbols-rounded tw:h-4! tw:w-4! tw:shrink-0! tw:text-xs!">error</mat-icon>
                                <span>
                                    {{ service.fieldErrorMessage(fs_un_pe_pm) | transloco: {
                                        min_length: fo_un_pe_pm.validation?.min_length?.value
                                    } }}
                                </span>
                            </mat-error>
                        }
                    </mat-form-field>

                    <!-- ─── FIELD: arole_id ─────────────────────────────────────────────────────── -->
                    <!--
                    @let fo_arole_id = service.state.mutationFieldObj().arole_id;
                    @let fs_arole_id = service.state.mutationForm.arole_id();
                    @let ph_arole_id = fo_arole_id.placeholder | transloco;

                    <mat-form-field appearance="outline" class="tw:w-full">
                        <mat-label>{{ fo_arole_id.label | transloco }}</mat-label>
                        <mat-select
                            [placeholder]="ph_arole_id === fo_arole_id.placeholder ? '' : ph_arole_id"
                            [formField]="service.state.mutationForm.arole_id"
                            (selectionChange)="service.state.clearMutationFormError()"
                        >
                            @for (option of service.AuthorisationRoleMapAddon | keyvalue; track option.key) {
                                <mat-option [value]="option.value">{{ option.value }}</mat-option>
                            }
                        </mat-select>
                        <mat-icon matSuffix class="material-symbols-rounded">badge</mat-icon>
                        @if ((fs_arole_id.touched() || fs_arole_id.dirty()) && fs_arole_id.invalid()) {
                            <mat-error class="tw:flex! tw:items-start tw:gap-1">
                                <mat-icon class="material-symbols-rounded tw:h-4! tw:w-4! tw:shrink-0! tw:text-xs!">error</mat-icon>
                                <span>{{ service.fieldErrorMessage(fs_arole_id) | transloco }}</span>
                            </mat-error>
                        }
                    </mat-form-field>
                    -->

                    <!-- ─── FIELD: pass_recover_url ─────────────────────────────────────────────── -->
                    <!--
                    @let fo_pass_recover_url = service.state.mutationFieldObj().pass_recover_url;
                    @let fs_pass_recover_url = service.state.mutationForm.pass_recover_url();
                    @let ph_pass_recover_url = fo_pass_recover_url.placeholder | transloco;

                    <mat-form-field appearance="outline" class="tw:w-full">
                        <mat-label>{{ fo_pass_recover_url.label | transloco }}</mat-label>
                        <input
                            matInput
                            type="url"
                            autocomplete="off"
                            [placeholder]="ph_pass_recover_url === fo_pass_recover_url.placeholder ? '' : ph_pass_recover_url"
                            [formField]="service.state.mutationForm.pass_recover_url"
                            (input)="service.state.clearMutationFormError()"
                            (keydown.enter)="$event.preventDefault(); service.onSubmit()"
                        />
                        <mat-icon matSuffix class="material-symbols-rounded">link</mat-icon>
                        @if ((fs_pass_recover_url.touched() || fs_pass_recover_url.dirty()) && fs_pass_recover_url.invalid()) {
                            <mat-error class="tw:flex! tw:items-start tw:gap-1">
                                <mat-icon class="material-symbols-rounded tw:h-4! tw:w-4! tw:shrink-0! tw:text-xs!">error</mat-icon>
                                <span>{{ service.fieldErrorMessage(fs_pass_recover_url) | transloco }}</span>
                            </mat-error>
                        }
                    </mat-form-field>
                    -->

                    <!-- ██████████ BUTTONS AREA ██████████████████████████████████████ -->
                    <div class="tw:flex tw:items-center tw:justify-end tw:gap-3">
                        @defer (on idle) {
                            <a matButton="text" [routerLink]="service.SigninRoute.absolutePath()">
                                {{ 'GL.MODULE.ONBOARDING.SIGNIN' | transloco }}
                            </a>
                        } @placeholder (minimum 200ms) {
                            <div class="tw:h-10 tw:w-32 tw:animate-pulse tw:rounded-full tw:bg-gray-100"></div>
                        }
                        <button
                            matButton="filled"
                            type="submit"
                            class="tw:relative tw:overflow-hidden"
                            [disabled]="service.state.mutationForm().invalid() || service.state.mutationFormProcessing() || service.gpbs.processing"
                        >{{ 'GL.COMMON.PROCEED_FURTHER' | transloco }}
                        </button>
                    </div>

                    <!-- ██████████ DEBUG AREA ██████████████████████████████████████ -->
                    <!-- @if(service.conf.debug === true) {
                        <div class="tw:mt-4 tw:rounded-2xl tw:bg-black/5 tw:p-3 tw:text-xs tw:leading-relaxed tw:dark:bg-white/5">
                            <div class="tw:font-semibold">{{ 'GL.DEBUG.DEBUG_INFO' | transloco }}</div>
                            <pre class="tw:mt-1 tw:whitespace-pre-wrap tw:wrap-break-word">{{ service.ctxp.state.debugState() | json }}</pre>
                            <div class="tw:mt-2 tw:font-semibold">Form State</div>
                            <pre class="tw:mt-1 tw:whitespace-pre-wrap tw:wrap-break-word">{{ service.state.debugState() | json }}</pre>
                        </div>
                    } -->
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- inject into auth area layout -->
<!--
<ng-template cdkPortal [authAreaLayout]="service.AuthAreaLayoutStateRuntimeEnum.SLOT_START_SIDE">
    <img
        src="assets/space.webp"
        alt="side-banner"
        class="tw:h-full tw:w-full tw:object-cover"
    />
</ng-template>

<ng-template cdkPortal [authAreaLayout]="service.AuthAreaLayoutStateRuntimeEnum.SLOT_END_SIDE_HEADER">

</ng-template>
<ng-template cdkPortal [authAreaLayout]="service.AuthAreaLayoutStateRuntimeEnum.SLOT_END_SIDE_FOOTER">

</ng-template>
-->
