<!-- file: src/app/base/crud/default/listing/template.html -->
 @let displayFields = service.state.listing.getDisplayFieldsValue() 
    ?? service.state.listing.getDisplayFieldsDefault() 
    ?? [];
<mat-card>
    <mat-card-content class="tw:p-1! tw:overflow-auto">
        <table
            mat-table
            class="tw:w-full tw:bg-transparent!"
            cdkDropList
            cdkDropListOrientation="horizontal"
            [cdkDropListDisabled]="!service.state.action.hasColumnPosition()"
            (cdkDropListDropped)="service.listing.dragAndDropColumn($event)"
            [dataSource]="service.state.listing.listingDataSource()"
        >
        @let base = 'tw:border-0! tw:bg-slate-100! tw:dark:bg-slate-100/10! tw:transition-all'; 
        @let hoverColor = 'tw:hover:bg-slate-200! tw:dark:hover:bg-slate-200/15!';
        @let roundedCorner = 'tw:first:rounded-s-md tw:last:rounded-e-md';
        @let columnMove = 'tw:cursor-grab tw:active:cursor-grabbing!';

        <!-- FIRST COLUMN -->
        @if(service.state.action.hasRecordSelectionAction()){
        <ng-container [matColumnDef]="service.CrudListingAdditionalColumnsEnum.RECORD_SELECT">
            <th mat-header-cell *matHeaderCellDef [ngClass]="[base, hoverColor, roundedCorner]">
                <div class="tw:flex tw:items-center tw:gap-2 tw:py-2">
                    @let selectAllLabel = 'GL.COMMON.SELECT_ALL' | transloco;
                    <mat-checkbox
                        (change)="service.listing.toggleAllRows()"
                        [checked]="service.listing.isAllRowsSelected()"
                        [indeterminate]="service.listing.isPartiallyRowsSelected()"
                        [aria-label]="selectAllLabel"
                        [matTooltip]="selectAllLabel"
                        matTooltipPosition="below"
                    ></mat-checkbox>
                </div>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="service.listing.toggleRowSelection(row)"
                    [checked]="service.listing.isRecordSelected(row)"
                    [aria-label]="'GL.COMMON.SELECT_RECORD' | transloco"
                ></mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef [ngClass]="[base, roundedCorner]">
                @if(service.state.listing.getListingSelectedRowsValue().selected.length > 0) {
                    <app-crud-default-listing-selected-record-action>
                    </app-crud-default-listing-selected-record-action>
                }
            </td>
        </ng-container>    
        }
        
        <!-- ALL FIELDS COLUMN -->
        @for (field of service.state.listing.listingFieldObj() | keyvalue: null; track field.key) {
            <!-- Assigning local variables -->
            @let fkey = field.key;
            @let finfo = field.value;
            
            <ng-container [matColumnDef]="fkey">
                <!-- Header Cell -->
                <th mat-header-cell cdkDrag [cdkDragDisabled]="!service.state.action.hasColumnPosition()" *matHeaderCellDef [ngClass]="[base, hoverColor, service.state.action.hasColumnPosition() ? columnMove : '', roundedCorner]">
                    <div class="tw:flex tw:items-center tw:gap-2 tw:py-2">
                        <div class="tw:h-6 tw:w-1 tw:rounded-full tw:bg-primary/40 tw:hover:bg-primary/90"></div>
                        <strong class="tw:text-primary/90 tw:font-bold tw:text-base tw:tracking-tight tw:leading-none">
                            @defer (on idle) {
                                {{ finfo.label | transloco }}
                            } @placeholder (minimum 200ms) {
                                <span
                                    class="tw:block tw:h-4 tw:w-20 tw:animate-pulse tw:rounded tw:bg-primary/15"
                                    aria-hidden="true"
                                ></span>
                            }
                        </strong>
                    </div>
                </th>

                <!-- Data Cell -->
                <td mat-cell *matCellDef="let row" class="tw:align-top">
                    @if(finfo.sub && !finfo.slot) {
                        <!-- Display main field -->
                        <p class="tw:text-primary tw:mb-1">
                            <ng-container *ngTemplateOutlet="CRUD_LISTING_FIELD_LAYOUT; context: { row: row, fkey: fkey, finfo: finfo,  }"></ng-container>
                        </p>
                        <!-- Display sub fields -->
                            <div class="tw:text-sm tw:text-[13px]!">
                            @for (fieldSub of finfo.sub | keyvalue: null; track fieldSub.key) {
                                @let fskey = fieldSub.key;
                                @let fsinfo = fieldSub.value;
                                @if (fsinfo.type !== service.CrudFieldUiTypeEnum.NONE && displayFields.includes(fskey)) {
                                    <p>
                                        <!--  TODO: in case of fsinfo.skip = true we do not need to show label, need some logic which can avoid if condition checking for performance -->
                                        <strong class="tw:text-black/70 tw:dark:text-white/50">{{ fsinfo.label | transloco }}:</strong>
                                        <ng-container
                                            *ngTemplateOutlet="CRUD_LISTING_FIELD_LAYOUT;
                                            context: { row: row, fkey: fskey, finfo: fsinfo,  }"
                                        >
                                        </ng-container>
                                    </p>
                                }
                            }
                        </div>
                    } @else {
                        <!-- Display main field -->
                        <ng-container 
                            *ngTemplateOutlet="CRUD_LISTING_FIELD_LAYOUT; 
                            context: { row: row, fkey: fkey, finfo: finfo,  }"
                        >
                        </ng-container>
                    }
                </td>
                <!-- Footer Cell -->
                <td mat-footer-cell *matFooterCellDef [ngClass]="[base, roundedCorner]"></td>
            </ng-container>
        }

        <!-- LAST COLUMN -->
        @if(service.state.action.hasRecordAction()){
        <ng-container [matColumnDef]="service.CrudListingAdditionalColumnsEnum.RECORD_ACTION">
            <!-- Header Cell -->
            <th mat-header-cell cdkDrag [cdkDragDisabled]="!service.state.action.hasColumnPosition()" *matHeaderCellDef [ngClass]="[base, hoverColor, service.state.action.hasColumnPosition() ? columnMove : '', roundedCorner]">
                <div class="tw:flex tw:items-center tw:justify-center tw:gap-2 tw:py-2">
                    <div class="tw:h-6 tw:w-1 tw:rounded-full tw:bg-primary/40 tw:hover:bg-primary/90"></div>
                </div>
            </th>
            
            <!-- Data Cell -->
            <td mat-cell *matCellDef="let row" class="tw:align-top tw:text-center!">
                <app-crud-default-listing-record-action
                    [row]="row"
                >
                </app-crud-default-listing-record-action>
            </td>

            <!-- Footer Cell -->
            <td mat-footer-cell *matFooterCellDef [ngClass]="[base, roundedCorner]"></td>

        </ng-container>
        }

        @let listingColumns = service.state.listing.getListingColumnPositionValue() ?? [];
        <tr mat-header-row *matHeaderRowDef="listingColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: listingColumns" class="tw:hover:bg-slate-50/60! tw:dark:hover:bg-slate-50/3!"></tr>
        <tr mat-footer-row *matFooterRowDef="listingColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell tw:text-center!" [attr.colspan]="listingColumns.length">
                @if(service.gpbs.processing){
                    {{ 'GL.COMMON.LOADING' | transloco }}
                } @else {
                    @if(service.state.listing.totalRecords() === 0){
                        {{ 'GL.COMMON.NO_DATA' | transloco }}
                    }
                }
            </td>
        </tr>
        </table>
    </mat-card-content>
</mat-card>

<!-- Default listing field template -->
<ng-template
    #DEF_CRUD_LISTING_FIELD_LAYOUT
    let-row="row"
    let-fkey="fkey"
    let-finfo="finfo"
>
    @let fvalue = row[fkey] | fieldValueFormat: finfo : row;
    <span [termHighlight]="service.state.listing.getQuickSearchValue()">{{ fvalue }}</span>
    @if(finfo.mat_icon_prepend){
        <mat-icon class="material-symbols-rounded tw:text-primary! tw:text-sm! tw:w-4! tw:h-4! -tw:leading-none!">{{ finfo.mat_icon_prepend }}</mat-icon>
    }
</ng-template>

<!-- SLOT: custom listing field template from child component -->
<ng-template 
    #CRUD_LISTING_FIELD_LAYOUT
    let-row="row"
    let-fkey="fkey"
    let-finfo="finfo"
>
    @let portalKey = (typeof finfo?.slot === 'string' && finfo.slot.length > 0) 
                        ? finfo.slot 
                        : service.CrudFieldSlotPortalKeyPrefixEnum.LISTING + fkey;
    @let customFieldPortal = service.state.getSlotField(portalKey);

    @if (
        finfo?.slot &&
        customFieldPortal &&
        (finfo.type === service.CrudFieldUiTypeEnum.NONE || displayFields.includes(fkey))
    ) {
        <ng-container
            *ngTemplateOutlet="$any(customFieldPortal).templateRef; 
            context: { row: row, fkey: fkey, finfo: finfo }"
        ></ng-container>
    } @else if (
        !finfo?.slot &&
        finfo.type !== service.CrudFieldUiTypeEnum.NONE &&
        displayFields.includes(fkey) &&
        (!finfo?.skip || finfo?.skip === false)
    ) {
        <!-- TODO: [finfo?.skip] flag is not working properly need to understand use case and make it usable -->
        <ng-container 
            *ngTemplateOutlet="DEF_CRUD_LISTING_FIELD_LAYOUT; 
            context: { row: row, fkey: fkey, finfo: finfo }"
        >
        </ng-container>
    }
</ng-template>
