<mat-form-field appearance="outline" subscriptSizing="dynamic" class="tw:w-full">
    <mat-label>{{ label() }}</mat-label>

    @if (iconPrepend()) {
        <mat-icon matPrefix class="material-symbols-rounded">{{ iconPrepend() }}</mat-icon>
    }

    <input
        matInput
        [readOnly]="readonlyInput()"
        [errorStateMatcher]="errorMatcher"
        [ngModel]="service.state.pickerModel()"
        [ngModelOptions]="{ standalone: true }"
        [attr.name]="name()"
        [attr.id]="inputId() || name()"
        [attr.placeholder]="placeholder()"
        [required]="required()"
        [disabled]="disabled()"
        [owlDateTime]="DateTimePicker"
        [owlDateTimeTrigger]="DateTimePicker"
        [owlDateTimeFilter]="$any(filter())"
        [selectMode]="service.state.modeConfig().selectMode"
        [rangeSeparator]="rangeSeparator()"
        [min]="service.state.minValue()"
        [max]="service.state.maxValue()"
        (dateTimeInput)="dateTimeInput.emit($event)"
        (dateTimeChange)="service.onDateTimeChange($event.value); dateTimeChange.emit($event)">

    <div matSuffix class="tw:flex tw:items-center tw:gap-1">
        @if (clearable() && !disabled() && service.state.hasValue()) {
            <button
                mat-icon-button
                type="button"
                [attr.aria-label]="'GL.FIELD.COMMON.CLEAR' | transloco"
                (click)="service.onClear($event)">
                <mat-icon class="material-symbols-rounded">close</mat-icon>
            </button>
        }

        <button
            mat-icon-button
            type="button"
            [disabled]="disabled()"
            [owlDateTimeTrigger]="DateTimePicker"
            [attr.aria-label]="'GL.FIELD.DATETIME.SELECT' | transloco">
            <mat-icon class="material-symbols-rounded">
                {{ service.state.modeConfig().triggerIcon }}
            </mat-icon>
        </button>

        @if (iconAppend()) {
            <mat-icon class="material-symbols-rounded tw:mx-3">{{ iconAppend() }}</mat-icon>
        }
    </div>

    <owl-date-time
        #DateTimePicker
        [pickerType]="service.state.modeConfig().pickerType"
        [pickerMode]="pickerMode()"
        [startView]="$any(startView())"
        [startAt]="service.state.startAtValue()"
        [endAt]="service.state.endAtValue()"
        [showCalendarWeeks]="showCalendarWeeks()"
        [yearOnly]="yearOnly()"
        [multiyearOnly]="multiyearOnly()"
        [firstDayOfWeek]="firstDayOfWeek()"
        [hideOtherMonths]="hideOtherMonths()"
        [hour12Timer]="hour12Timer()"
        [showSecondsTimer]="showSecondsTimer()"
        [stepHour]="stepHour()"
        [stepMinute]="stepMinute()"
        [stepSecond]="stepSecond()"
        [opened]="opened()"
        [backdropClass]="backdropClass()"
        [panelClass]="panelClass()"
        [scrollStrategy]="$any(scrollStrategy())"
        [disabled]="disabled()"
        (beforePickerOpen)="beforePickerOpen.emit()"
        (afterPickerOpen)="afterPickerOpen.emit()"
        (afterPickerClosed)="afterPickerClosed.emit()"
        (yearSelected)="yearSelected.emit($event)"
        (monthSelected)="monthSelected.emit($event)"
        (dateSelected)="dateSelected.emit($event)">
    </owl-date-time>

    @if (error()) {
        <mat-error class="tw:flex! tw:items-center tw:gap-1">
            <mat-icon class="material-symbols-rounded tw:text-xs! tw:h-4! tw:w-4! tw:shrink-0">error</mat-icon>
            <span>{{ error() }}</span>
        </mat-error>
    } @else if (hint()) {
        <mat-hint class="tw:flex tw:items-start tw:gap-1">
            <mat-icon class="material-symbols-rounded tw:text-xs! tw:h-4! tw:w-4! tw:shrink-0">info</mat-icon>
            <span>{{ hint() }}</span>
        </mat-hint>
    }
</mat-form-field>
