// file: ./src/theme/active/_font.scss
@use '@angular/material' as mat;
@use './variable' as *;

:root {
  /* Body */
  --mat-sys-body-large-font: 'Manrope', sans-serif;
  --mat-sys-body-medium-font: 'Manrope', sans-serif;
  --mat-sys-body-small-font: 'Manrope', sans-serif;

  /* Display */
  --mat-sys-display-large-font: 'Manrope', sans-serif;
  --mat-sys-display-medium-font: 'Manrope', sans-serif;
  --mat-sys-display-small-font: 'Manrope', sans-serif;

  /* Headline */
  --mat-sys-headline-large-font: 'Manrope', sans-serif;
  --mat-sys-headline-medium-font: 'Manrope', sans-serif;
  --mat-sys-headline-small-font: 'Manrope', sans-serif;

  /* Title */
  --mat-sys-title-large-font: 'Manrope', sans-serif;
  --mat-sys-title-medium-font: 'Manrope', sans-serif;
  --mat-sys-title-small-font: 'Manrope', sans-serif;

  /* Label */
  --mat-sys-label-large-font: 'Manrope', sans-serif;
  --mat-sys-label-medium-font: 'Manrope', sans-serif;
  --mat-sys-label-small-font: 'Manrope', sans-serif;
}

html,
body {
  font-family: 'Manrope', sans-serif;
}

html {
  @include mat.theme((
    typography: (
      plain-family: 'Manrope, sans-serif',
      brand-family: 'Manrope, sans-serif',
    ),
  ));
}