<!-- file: src/app/base/crud/component/upload/dialog/template.html -->
<div class="tw:flex tw:flex-col tw:overflow-y-auto tw:z-20 tw:max-h-[90dvh]">
    <mat-toolbar class="tw:h-auto! tw:sticky tw:top-0 tw:z-20 tw:w-full tw:bg-transparent! tw:backdrop-blur-md tw:shrink-0">
        <div class="tw:w-full">
            <div class="tw:flex tw:w-full tw:items-center tw:justify-between tw:py-3">
                <div class="tw:flex tw:items-center tw:gap-3 tw:min-w-0">
                    <mat-icon class="material-symbols-rounded tw:shrink-0">{{ service.upload.getUploadIcon() }}</mat-icon>
                    <div class="tw:min-w-0">
                        <h2 class="tw:text-xl! tw:font-semibold tw:m-0 tw:leading-tight tw:truncate">
                            {{ service.upload.getUploadTitle() | transloco }}
                        </h2>
                        @if (service.state.getRecordLabelFieldValue(service.state.actionListingRecord()); as label) {
                            <p class="tw:text-sm tw:font-normal tw:m-0 tw:leading-tight tw:opacity-70 tw:truncate">{{ label }}</p>
                        }
                    </div>
                </div>
                <button mat-icon-button (click)="service.upload.closeUploadAction()" [attr.aria-label]="'GL.COMMON.CLOSE' | transloco">
                    <mat-icon class="material-symbols-rounded">close</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <div>
        <div class="tw:flex tw:flex-col tw:min-w-0 tw:gap-4 tw:p-3">
            <ng-container *ngComponentOutlet="service.upload.getUploadFormComponent(); injector: service.getComponentInjector()"></ng-container>
        </div>
    </div>
    <footer class="tw:sticky tw:bottom-0 tw:z-20 tw:w-full tw:backdrop-blur-md tw:mbs-auto tw:shrink-0">
        <div class="tw:flex tw:gap-2 tw:p-3!">
            <button mat-button type="button" class="tw:flex-1" [disabled]="service.state.upload.uploadFormProcessing() || service.state.upload.uploadForm().submitting()" (click)="service.state.upload.resetUploadForm()">{{ 'GL.COMMON.RESET' | transloco }}</button>
            <button mat-flat-button type="submit" form="crudUploadForm" color="primary" class="tw:flex-1" [disabled]="service.state.upload.uploadFormProcessing() || service.state.upload.uploadForm().invalid() || service.state.upload.uploadForm().pending() || service.state.upload.uploadForm().submitting() || !service.state.upload.anyFileSelected()">{{ 'GL.COMMON.SAVE' | transloco }}</button>
        </div>
    </footer>
</div>
