@if (service.isViewActionActive()) {
    @if (service.state.view.viewActionUiLayout() === service.CrudActionUiLayoutEnum.END_SIDE_BAR) {
        <app-crud-default-view-end-side-bar />
    }
    @else if (service.state.view.viewActionUiLayout() === service.CrudActionUiLayoutEnum.END_DRAWER) {
        <app-crud-default-view-end-drawer />
    }
    @else if (service.state.view.viewActionUiLayout() === service.CrudActionUiLayoutEnum.PAGE) {
        <ng-container
            *ngComponentOutlet="service.getViewPageComponent(); injector: service.getComponentInjector()"
        ></ng-container>
    }
}
@else if (service.isPrintActionActive()) {
    <ng-container
        *ngComponentOutlet="service.getViewPageComponent(); injector: service.getComponentInjector()"
    ></ng-container>
}
