<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCew6a4MiErAjVtzeWLBwHI5FWuMV2KlcI</string>
	<key>GCM_SENDER_ID</key>
	<string>1090015428763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thatsend.bfwpwa</string>
	<key>PROJECT_ID</key>
	<string>bfw-angular-pwa</string>
	<key>STORAGE_BUCKET</key>
	<string>bfw-angular-pwa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090015428763:ios:656cdfb040775f3b43063e</string>
</dict>
</plist>